:root {
    --main-color: #505ce2;
    --secondary-color: #FF7700;
}

.lightblue {
    background-color: #e3ebf0;
}


/* LOGO */
.logo {
    color: var(--main-color);
}

    .logo span {
        color: var(--secondary-color);
    }

/* LOGO END */

.fav {
    width: 32px;
    height: 32px;
    border: 1px solid red;
}

/* MAIN BUTTON */
.main-btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border:0;
}


    .main-btn:hover {
        opacity: 0.8;
        color: white;
    }
/* MAIN BUTTON END */

/* SEARCH */

.search-btn {
    background-color: var(--main-color);
}
/* SEARCH END */


/*BOTTOM CATEGORIES LIST*/
.categories-list{
    list-style-type: none;
}

.parent-category{
    margin: 0.8rem 0;
}

.parent-category a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.parent-category a:hover{
    color: var(--secondary-color);
}

.child-category a{
    text-decoration: none;
}

.child-category a:hover {
    color: var(--secondary-color);
}

/*BOTTOM CATEGORIES LIST END*/
@media only screen and (min-width: 558px) and (max-width: 778px) {
    .main-btn {
        display: inline-block;
    }
}
