:root {
    --main-color: #B5E941;
    --secondary-color: #326916;
}

.lightblue {
    background-color: lightgray;
}


/* LOGO */
.logo {
    color: var(--main-color);
}

    .logo span {
        color: var(--secondary-color);
    }

    .logo a{
        text-decoration: none;
        color: var(--main-color) !important;
    }

/* LOGO END */
/*MY ACC*/
.my-account a{
    color: var(--secondary-color) !important;
}

.favourites a{
    color: var(--secondary-color) !important;
}
/*MY ACC END*/
/* MAIN BUTTON */
.main-btn {
    text-decoration: none;
    background-color: var(--secondary-color);
    padding: 0.5rem;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border:0;
}


    .main-btn:hover {
        opacity: 0.8;
        color: white;
    }

.logout {
    color: var(--secondary-color) !important;
    border-color: var(--secondary-color) !important;
}

.logout:hover{
    color: white !important;
    background: var(--secondary-color);
}
/* MAIN BUTTON END */

/* SEARCH */

.search-btn {
    background-color: var(--main-color);
}
/* SEARCH END */
/*TOP CATEGORIES*/
.main-category a{
    color: black;
}
/*TOP CATEGORIES END*/
/*LISTING*/
.listing{
    color: black;
}

.listing:hover{
    opacity: 0.7;
    color:black;
}
/*LISTING END*/
/*BOTTOM CATEGORIES LIST*/
.categories-list{
    list-style-type: none;
}

.parent-category{
    margin: 0.8rem 0;
}

.parent-category a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.parent-category a:hover{
    color: var(--secondary-color);
}

.child-category a {
    text-decoration: none;
    color: var(--secondary-color);
}

.child-category a:hover {
    opacity: 0.7;
}

/*BOTTOM CATEGORIES LIST END*/
@media only screen and (min-width: 558px) and (max-width: 778px) {
    .main-btn {
        display: inline-block;
    }
}
