@using MyMarket.DAL.ViewModels.Pages.Home
@model HomeViewModel

<div class="container border">
    <div class="row">
        @foreach (var category in @Model.Categories.Where(c => c.ParentId == 0))
        {
            <div class="col-md-3 col-3">
                <div>@category.Name</div>
            </div>
        }
    </div>
</div>
<div>
</div>
