@using MyMarket.DAL.ViewModels.Listings
@model List<CategoryViewModel>

<div class="btn-group" role="group">
    <a class="btn btn-primary category-link" data-url="@Url.Action("Categories", "Categories")">Категории</a>
    <a class="btn btn-primary property-link" data-url="@Url.Action("Properties", "Properties")">Пропъртита</a>
    <a class="btn btn-primary" href="@Url.Action("Settings", "Options")">Опции</a>
</div>
<div id="partial-container">
</div>